--
-- PostgreSQL database dump
--

-- Dumped from database version 17.8 (6108b59)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: create_follow_up_events_from_templates(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.create_follow_up_events_from_templates() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    assigned_agent_id UUID;
    assigned_user_id UUID;
BEGIN
    -- Determine which agent to assign based on transaction type
    -- For 'sale' transactions, assign to buyer_agent_id (was selling_agent_id)
    -- For other types (purchase, lease, etc.), assign to listing_agent_id
    IF LOWER(NEW.transaction_type) = 'sale' THEN
        assigned_agent_id := NEW.buyer_agent_id;
    ELSE
        assigned_agent_id := NEW.listing_agent_id;
    END IF;

    -- Get the user_id from the agents table (assigned_to must reference users.id, not agents.id)
    IF assigned_agent_id IS NOT NULL THEN
        SELECT user_id INTO assigned_user_id 
        FROM agents 
        WHERE id = assigned_agent_id;
    END IF;

    -- Insert follow-up events from templates with the appropriate user assignment
    -- Only create events if contract_date is not null (required for calculating due_date)
    IF NEW.contract_date IS NOT NULL THEN
        INSERT INTO follow_up_events (
            transaction_id,
            template_id,
            event_name,
            description,
            due_date,
            priority,
            assigned_to
        )
        SELECT 
            NEW.id,
            t.id,
            t.event_name,
            t.description,
            NEW.contract_date + INTERVAL '1 day' * t.days_from_contract,
            t.priority,
            assigned_user_id
        FROM follow_up_event_templates t
        WHERE t.transaction_type = NEW.transaction_type
        AND t.is_active = true;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_follow_up_events_from_templates() OWNER TO neondb_owner;

--
-- Name: update_general_tasks_updated_at(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.update_general_tasks_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = NOW();
  IF NEW.status = 'completed' AND OLD.status != 'completed' THEN
    NEW.completed_at = NOW();
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_general_tasks_updated_at() OWNER TO neondb_owner;

--
-- Name: update_roles_updated_at(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.update_roles_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_roles_updated_at() OWNER TO neondb_owner;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agents; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.agents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    license_number character varying(50),
    brokerage character varying(255),
    commission_rate numeric(5,4),
    specialties text[],
    bio text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true NOT NULL,
    portal_access_enabled boolean DEFAULT false,
    portal_email character varying(255),
    portal_password_hash text,
    preferred_language character varying(5) DEFAULT 'es'::character varying,
    CONSTRAINT agents_preferred_language_check CHECK (((preferred_language)::text = ANY ((ARRAY['en'::character varying, 'es'::character varying])::text[])))
);


ALTER TABLE public.agents OWNER TO neondb_owner;

--
-- Name: COLUMN agents.is_active; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.agents.is_active IS 'Soft delete flag - false means deleted';


--
-- Name: COLUMN agents.portal_access_enabled; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.agents.portal_access_enabled IS 'Whether this agent has access to the customer portal';


--
-- Name: COLUMN agents.portal_email; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.agents.portal_email IS 'Email used for portal login (can be different from user email)';


--
-- Name: COLUMN agents.portal_password_hash; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.agents.portal_password_hash IS 'Bcrypt hash of portal password';


--
-- Name: COLUMN agents.preferred_language; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.agents.preferred_language IS 'Agent preferred language for portal interface';


--
-- Name: attorneys; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.attorneys (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    firm_name character varying(255) NOT NULL,
    attorney_name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(20),
    address text,
    specialties text[],
    bar_number character varying(50),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    city character varying(100),
    state character varying(50),
    zip_code character varying(20),
    website character varying(255),
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.attorneys OWNER TO neondb_owner;

--
-- Name: COLUMN attorneys.is_active; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.attorneys.is_active IS 'Soft delete flag - false means deleted';


--
-- Name: customers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.customers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255),
    phone character varying(20),
    address text,
    city character varying(100),
    state character varying(50),
    zip_code character varying(20),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    visa_type character varying(50),
    country character varying(100) DEFAULT 'United States'::character varying,
    language character varying(50) DEFAULT 'Spanish'::character varying,
    is_active boolean DEFAULT true,
    middle_name character varying(100),
    user_id uuid,
    portal_access_enabled boolean DEFAULT false,
    sms_notifications_enabled boolean DEFAULT false,
    email_notifications_enabled boolean DEFAULT false,
    preferred_language character varying(5) DEFAULT 'es'::character varying,
    CONSTRAINT customers_language_check CHECK (((language)::text = ANY ((ARRAY['English'::character varying, 'Spanish'::character varying])::text[]))),
    CONSTRAINT customers_preferred_language_check CHECK (((preferred_language)::text = ANY ((ARRAY['en'::character varying, 'es'::character varying])::text[]))),
    CONSTRAINT customers_visa_type_check CHECK (((visa_type)::text = ANY ((ARRAY['US Citizen'::character varying, 'Permanent Resident'::character varying, 'Nonimmigrant'::character varying])::text[])))
);


ALTER TABLE public.customers OWNER TO neondb_owner;

--
-- Name: COLUMN customers.visa_type; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.customers.visa_type IS 'Immigration status of the client: US Citizen, Permanent Resident, or Nonimmigrant';


--
-- Name: COLUMN customers.language; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.customers.language IS 'Preferred language for client communication (English, Spanish)';


--
-- Name: COLUMN customers.is_active; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.customers.is_active IS 'Soft delete flag - false means deleted';


--
-- Name: COLUMN customers.sms_notifications_enabled; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.customers.sms_notifications_enabled IS 'Customer authorization to receive SMS notifications';


--
-- Name: COLUMN customers.email_notifications_enabled; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.customers.email_notifications_enabled IS 'Customer authorization to receive email notifications';


--
-- Name: COLUMN customers.preferred_language; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.customers.preferred_language IS 'Customer preferred language for portal interface';


--
-- Name: document_types; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.document_types (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.document_types OWNER TO neondb_owner;

--
-- Name: document_types_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.document_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_types_id_seq OWNER TO neondb_owner;

--
-- Name: document_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.document_types_id_seq OWNED BY public.document_types.id;


--
-- Name: documents; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.documents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    file_type character varying(50) NOT NULL,
    file_size bigint NOT NULL,
    google_drive_id character varying(255) NOT NULL,
    google_drive_url text NOT NULL,
    task_id uuid,
    transaction_id uuid,
    uploaded_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    document_type_id integer
);


ALTER TABLE public.documents OWNER TO neondb_owner;

--
-- Name: entity_contacts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.entity_contacts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id uuid NOT NULL,
    contact_name character varying(255) NOT NULL,
    title character varying(100),
    email character varying(255),
    phone character varying(50),
    is_primary boolean DEFAULT false,
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.entity_contacts OWNER TO neondb_owner;

--
-- Name: follow_up_event_templates; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.follow_up_event_templates (
    id integer NOT NULL,
    transaction_type character varying(20) NOT NULL,
    event_name character varying(255) NOT NULL,
    description text,
    days_from_contract integer NOT NULL,
    priority character varying(10) DEFAULT 'medium'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_inspection_related boolean DEFAULT false,
    default_inspection_type_id uuid,
    CONSTRAINT follow_up_event_templates_priority_check CHECK (((priority)::text = ANY ((ARRAY['medium'::character varying, 'high'::character varying, 'urgent'::character varying])::text[])))
);


ALTER TABLE public.follow_up_event_templates OWNER TO neondb_owner;

--
-- Name: follow_up_event_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.follow_up_event_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.follow_up_event_templates_id_seq OWNER TO neondb_owner;

--
-- Name: follow_up_event_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.follow_up_event_templates_id_seq OWNED BY public.follow_up_event_templates.id;


--
-- Name: follow_up_events; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.follow_up_events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    transaction_id uuid,
    template_id integer,
    event_name character varying(255) NOT NULL,
    description text,
    due_date date NOT NULL,
    priority character varying(10) DEFAULT 'medium'::character varying,
    status character varying(20) DEFAULT 'pending'::character varying,
    assigned_to uuid,
    completed_at timestamp without time zone,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT follow_up_events_priority_check CHECK (((priority)::text = ANY ((ARRAY['medium'::character varying, 'high'::character varying, 'urgent'::character varying])::text[]))),
    CONSTRAINT follow_up_events_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'completed'::character varying, 'cancelled'::character varying, 'overdue'::character varying, 'not_applicable'::character varying])::text[])))
);


ALTER TABLE public.follow_up_events OWNER TO neondb_owner;

--
-- Name: general_tasks; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.general_tasks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    assigned_to uuid NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    due_date timestamp without time zone,
    priority character varying(20) DEFAULT 'medium'::character varying,
    status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    completed_at timestamp without time zone,
    created_by uuid,
    CONSTRAINT general_tasks_priority_check CHECK (((priority)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying, 'urgent'::character varying])::text[]))),
    CONSTRAINT general_tasks_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'in_progress'::character varying, 'completed'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.general_tasks OWNER TO neondb_owner;

--
-- Name: google_drive_credentials; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.google_drive_credentials (
    id integer NOT NULL,
    user_id character varying(50) DEFAULT 'system'::character varying,
    access_token text NOT NULL,
    refresh_token text,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    folder_id character varying(255),
    folder_name character varying(255)
);


ALTER TABLE public.google_drive_credentials OWNER TO neondb_owner;

--
-- Name: google_drive_credentials_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.google_drive_credentials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.google_drive_credentials_id_seq OWNER TO neondb_owner;

--
-- Name: google_drive_credentials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.google_drive_credentials_id_seq OWNED BY public.google_drive_credentials.id;


--
-- Name: inspection_email_templates; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.inspection_email_templates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    subject character varying(500) NOT NULL,
    body text NOT NULL,
    inspection_type_id uuid,
    is_default boolean DEFAULT false,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.inspection_email_templates OWNER TO neondb_owner;

--
-- Name: TABLE inspection_email_templates; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.inspection_email_templates IS 'Email templates for requesting inspections';


--
-- Name: inspection_request_history; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.inspection_request_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    inspection_request_id uuid NOT NULL,
    status_from character varying(50),
    status_to character varying(50),
    changed_by uuid,
    notes text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.inspection_request_history OWNER TO neondb_owner;

--
-- Name: TABLE inspection_request_history; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.inspection_request_history IS 'Audit trail for inspection request status changes';


--
-- Name: inspection_requests; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.inspection_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    follow_up_event_id uuid,
    transaction_id uuid NOT NULL,
    inspection_type_id uuid,
    inspector_id uuid NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    requested_date date,
    scheduled_date date,
    scheduled_time time without time zone,
    quoted_price numeric(10,2),
    actual_price numeric(10,2),
    email_sent_at timestamp without time zone,
    email_sent_by uuid,
    completed_at timestamp without time zone,
    report_url text,
    notes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.inspection_requests OWNER TO neondb_owner;

--
-- Name: TABLE inspection_requests; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.inspection_requests IS 'Tracks all inspection requests sent to inspectors';


--
-- Name: inspection_types; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.inspection_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    typical_duration_hours integer DEFAULT 2,
    is_active boolean DEFAULT true,
    display_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.inspection_types OWNER TO neondb_owner;

--
-- Name: TABLE inspection_types; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.inspection_types IS 'Standard types of inspections that can be performed';


--
-- Name: inspector_specialties; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.inspector_specialties (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    inspector_id uuid NOT NULL,
    inspection_type_id uuid NOT NULL,
    typical_price numeric(10,2),
    notes text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.inspector_specialties OWNER TO neondb_owner;

--
-- Name: TABLE inspector_specialties; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.inspector_specialties IS 'Maps inspectors to the types of inspections they perform';


--
-- Name: inspectors; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.inspectors (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_name character varying(255) NOT NULL,
    contact_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50),
    address text,
    city character varying(100),
    state character varying(2),
    zip character varying(10),
    website character varying(255),
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    license_number character varying(100)
);


ALTER TABLE public.inspectors OWNER TO neondb_owner;

--
-- Name: TABLE inspectors; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.inspectors IS 'Inspector companies and contacts';


--
-- Name: lenders; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.lenders (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_name character varying(255) NOT NULL,
    contact_name character varying(255),
    email character varying(255),
    phone character varying(20),
    address text,
    loan_types text[],
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.lenders OWNER TO neondb_owner;

--
-- Name: COLUMN lenders.is_active; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.lenders.is_active IS 'Soft delete flag - false means deleted';


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    customer_id uuid NOT NULL,
    transaction_id uuid,
    task_id uuid,
    type character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    read_at timestamp without time zone,
    metadata jsonb
);


ALTER TABLE public.notifications OWNER TO neondb_owner;

--
-- Name: TABLE notifications; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.notifications IS 'Stores in-app notifications for customers in the portal';


--
-- Name: other_entities; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.other_entities (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    entity_name character varying(255) NOT NULL,
    entity_type character varying(100),
    company_name character varying(255),
    address text,
    city character varying(100),
    state character varying(50),
    zip_code character varying(20),
    website character varying(255),
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.other_entities OWNER TO neondb_owner;

--
-- Name: password_reset_codes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.password_reset_codes (
    email character varying(255) NOT NULL,
    code character varying(6) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.password_reset_codes OWNER TO neondb_owner;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.password_reset_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.password_reset_tokens OWNER TO neondb_owner;

--
-- Name: TABLE password_reset_tokens; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.password_reset_tokens IS 'Stores temporary tokens for password reset functionality';


--
-- Name: properties; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.properties (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    address text NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(50) NOT NULL,
    zip_code character varying(20) NOT NULL,
    property_type character varying(50),
    bedrooms integer,
    bathrooms numeric(3,1),
    square_feet integer,
    lot_size numeric(10,2),
    year_built integer,
    listing_price numeric(12,2),
    market_value numeric(12,2),
    mls_number character varying(50),
    description text,
    features text[],
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true
);


ALTER TABLE public.properties OWNER TO neondb_owner;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    permissions jsonb DEFAULT '[]'::jsonb,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO neondb_owner;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO neondb_owner;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: transaction_assignments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.transaction_assignments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transaction_id uuid NOT NULL,
    assigned_to_user_id uuid NOT NULL,
    assigned_by_user_id uuid NOT NULL,
    assigned_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.transaction_assignments OWNER TO neondb_owner;

--
-- Name: TABLE transaction_assignments; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.transaction_assignments IS 'Tracks which transactions are assigned to which assistant users by managers';


--
-- Name: transaction_buyers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.transaction_buyers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transaction_id uuid NOT NULL,
    customer_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.transaction_buyers OWNER TO neondb_owner;

--
-- Name: transaction_sellers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.transaction_sellers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transaction_id uuid NOT NULL,
    customer_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.transaction_sellers OWNER TO neondb_owner;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    transaction_type character varying(20) NOT NULL,
    property_id uuid,
    buyer_id uuid,
    seller_id uuid,
    listing_agent_id uuid,
    buyer_agent_id uuid,
    lender_id uuid,
    attorney_id uuid,
    contract_date date,
    closing_date date,
    purchase_price numeric(12,2),
    commission_rate numeric(5,4),
    status character varying(20) DEFAULT 'pending'::character varying,
    priority character varying(10) DEFAULT 'medium'::character varying,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true,
    due_diligence_date date,
    due_diligence_fee numeric(12,2),
    closing_costs numeric(12,2),
    earnest_money_deposit numeric(12,2),
    co_listing_agent_id uuid,
    co_buyer_agent_id uuid,
    seller_commission_rate numeric(5,4),
    buyer_commission_rate numeric(5,4),
    brokerage_fee numeric(12,2),
    due_diligence_money numeric(12,2),
    inspection_date date,
    appraisal_date date,
    commission_flat_fee numeric(12,2),
    closing_fee numeric(12,2),
    google_drive_folder_id character varying(255),
    down_payment numeric(12,2),
    loan_type character varying(50),
    rate numeric(5,4),
    CONSTRAINT transactions_loan_type_check CHECK (((loan_type)::text = ANY ((ARRAY['conventional'::character varying, 'usda'::character varying, 'fha'::character varying, 'dscr'::character varying])::text[]))),
    CONSTRAINT transactions_priority_check CHECK (((priority)::text = ANY ((ARRAY['medium'::character varying, 'high'::character varying, 'urgent'::character varying])::text[]))),
    CONSTRAINT transactions_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'active'::character varying, 'contingent'::character varying, 'closed'::character varying, 'cancelled'::character varying])::text[]))),
    CONSTRAINT transactions_transaction_type_check CHECK (((transaction_type)::text = ANY ((ARRAY['purchase'::character varying, 'sale'::character varying])::text[])))
);


ALTER TABLE public.transactions OWNER TO neondb_owner;

--
-- Name: COLUMN transactions.due_diligence_date; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.due_diligence_date IS 'Date when due diligence period ends';


--
-- Name: COLUMN transactions.due_diligence_fee; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.due_diligence_fee IS 'Fee paid for due diligence period';


--
-- Name: COLUMN transactions.closing_costs; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.closing_costs IS 'Total closing costs for the transaction';


--
-- Name: COLUMN transactions.earnest_money_deposit; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.earnest_money_deposit IS 'Earnest money deposit amount';


--
-- Name: COLUMN transactions.co_listing_agent_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.co_listing_agent_id IS 'Co-listing agent for the transaction';


--
-- Name: COLUMN transactions.co_buyer_agent_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.co_buyer_agent_id IS 'Co-buyer/selling agent for the transaction';


--
-- Name: COLUMN transactions.seller_commission_rate; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.seller_commission_rate IS 'Seller commission rate (0.03 = 3%)';


--
-- Name: COLUMN transactions.buyer_commission_rate; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.buyer_commission_rate IS 'Buyer commission rate (0.03 = 3%)';


--
-- Name: COLUMN transactions.brokerage_fee; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.brokerage_fee IS 'Brokerage fee amount in dollars (changed from percentage)';


--
-- Name: COLUMN transactions.due_diligence_money; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.due_diligence_money IS 'Due diligence money amount in dollars';


--
-- Name: COLUMN transactions.commission_flat_fee; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.commission_flat_fee IS 'Flat fee commission amount in dollars';


--
-- Name: COLUMN transactions.closing_fee; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.closing_fee IS 'Closing fee amount in dollars';


--
-- Name: COLUMN transactions.google_drive_folder_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.google_drive_folder_id IS 'Google Drive folder ID for this transaction documents';


--
-- Name: COLUMN transactions.down_payment; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.down_payment IS 'Down payment amount for the transaction';


--
-- Name: COLUMN transactions.loan_type; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.loan_type IS 'Type of loan: conventional, usda, fha, or dscr';


--
-- Name: COLUMN transactions.rate; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.transactions.rate IS 'Loan interest rate (e.g., 0.0650 for 6.5%)';


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    phone character varying(20),
    role_id integer,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    role character varying(50) DEFAULT 'agent'::character varying,
    middle_name character varying(100)
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: COLUMN users.middle_name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.middle_name IS 'Middle name of the user (optional)';


--
-- Name: document_types id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.document_types ALTER COLUMN id SET DEFAULT nextval('public.document_types_id_seq'::regclass);


--
-- Name: follow_up_event_templates id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.follow_up_event_templates ALTER COLUMN id SET DEFAULT nextval('public.follow_up_event_templates_id_seq'::regclass);


--
-- Name: google_drive_credentials id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.google_drive_credentials ALTER COLUMN id SET DEFAULT nextval('public.google_drive_credentials_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: attorneys; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: document_types; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: entity_contacts; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: follow_up_event_templates; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: follow_up_events; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: general_tasks; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.general_tasks (id, assigned_to, title, description, due_date, priority, status, created_at, updated_at, completed_at, created_by) FROM stdin;
99f3b943-04f9-473a-ae2a-eb0a8ca035d2	bbb5ce3d-5909-4e3f-96a2-cecf7c5ccd3c	Pendientes	Prompts. Radon Dan. Grading Luber. BOTERO 19 Marzo, 31 dias min. Fotos harvestview	\N	medium	pending	2026-02-26 18:53:53.185417	2026-02-26 18:53:53.185417	\N	bbb5ce3d-5909-4e3f-96a2-cecf7c5ccd3c
\.


--
-- Data for Name: google_drive_credentials; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: inspection_email_templates; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: inspection_request_history; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.inspection_request_history (id, inspection_request_id, status_from, status_to, changed_by, notes, created_at) FROM stdin;
d16b40d4-60de-4e80-88f7-e89d2a459603	efd90823-c434-49ca-849f-ff37e85ba23e	pending	sent	e628517b-a0ac-4d98-9ec6-700c378fd0c7	Email sent to inspector	2026-02-26 21:32:00.500222
25cf0d83-1395-4e43-bbb5-be0bf0d8b51a	0ee8eedc-e842-4161-88ae-5de6d7a85fc7	pending	sent	e628517b-a0ac-4d98-9ec6-700c378fd0c7	Email sent to inspector	2026-02-26 21:35:11.313355
\.


--
-- Data for Name: inspection_requests; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: inspection_types; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: inspector_specialties; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: inspectors; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.inspectors (id, company_name, contact_name, email, phone, address, city, state, zip, website, notes, is_active, created_at, updated_at, license_number) FROM stdin;
d48c9387-4e3a-492a-9029-4130f8a8908a	CorralesRE Inspections - Test	German Gonzalez	ggonz@solyred.com	4703018707	Address 1	Raleigh	NC	12345	https://trustinspections.com	Notes	t	2026-02-26 18:50:37.306965	2026-02-26 18:59:40.649698	123456
\.


--
-- Data for Name: lenders; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.notifications (id, customer_id, transaction_id, task_id, type, title, message, is_read, created_at, read_at, metadata) FROM stdin;
\.


--
-- Data for Name: other_entities; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.other_entities (id, entity_name, entity_type, company_name, address, city, state, zip_code, website, notes, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: password_reset_codes; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.password_reset_codes (email, code, expires_at, created_at) FROM stdin;
david@corralesre.com	782176	2026-01-14 21:57:55.865	2026-01-14 21:42:55.884618
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.password_reset_tokens (id, email, token, expires_at, used, created_at) FROM stdin;
\.


--
-- Data for Name: properties; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: transaction_assignments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.transaction_assignments (id, transaction_id, assigned_to_user_id, assigned_by_user_id, assigned_at, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: transaction_buyers; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: transaction_sellers; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: document_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.document_types_id_seq', 36, true);


--
-- Name: follow_up_event_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.follow_up_event_templates_id_seq', 98, true);


--
-- Name: google_drive_credentials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.google_drive_credentials_id_seq', 52, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: attorneys attorneys_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.attorneys
    ADD CONSTRAINT attorneys_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: document_types document_types_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_name_key UNIQUE (name);


--
-- Name: document_types document_types_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: entity_contacts entity_contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.entity_contacts
    ADD CONSTRAINT entity_contacts_pkey PRIMARY KEY (id);


--
-- Name: follow_up_event_templates follow_up_event_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.follow_up_event_templates
    ADD CONSTRAINT follow_up_event_templates_pkey PRIMARY KEY (id);


--
-- Name: follow_up_events follow_up_events_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.follow_up_events
    ADD CONSTRAINT follow_up_events_pkey PRIMARY KEY (id);


--
-- Name: general_tasks general_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.general_tasks
    ADD CONSTRAINT general_tasks_pkey PRIMARY KEY (id);


--
-- Name: google_drive_credentials google_drive_credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.google_drive_credentials
    ADD CONSTRAINT google_drive_credentials_pkey PRIMARY KEY (id);


--
-- Name: inspection_email_templates inspection_email_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_email_templates
    ADD CONSTRAINT inspection_email_templates_pkey PRIMARY KEY (id);


--
-- Name: inspection_request_history inspection_request_history_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_request_history
    ADD CONSTRAINT inspection_request_history_pkey PRIMARY KEY (id);


--
-- Name: inspection_requests inspection_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_requests
    ADD CONSTRAINT inspection_requests_pkey PRIMARY KEY (id);


--
-- Name: inspection_types inspection_types_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_types
    ADD CONSTRAINT inspection_types_name_key UNIQUE (name);


--
-- Name: inspection_types inspection_types_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_types
    ADD CONSTRAINT inspection_types_pkey PRIMARY KEY (id);


--
-- Name: inspector_specialties inspector_specialties_inspector_id_inspection_type_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspector_specialties
    ADD CONSTRAINT inspector_specialties_inspector_id_inspection_type_id_key UNIQUE (inspector_id, inspection_type_id);


--
-- Name: inspector_specialties inspector_specialties_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspector_specialties
    ADD CONSTRAINT inspector_specialties_pkey PRIMARY KEY (id);


--
-- Name: inspectors inspectors_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspectors
    ADD CONSTRAINT inspectors_pkey PRIMARY KEY (id);


--
-- Name: lenders lenders_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.lenders
    ADD CONSTRAINT lenders_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: other_entities other_entities_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.other_entities
    ADD CONSTRAINT other_entities_pkey PRIMARY KEY (id);


--
-- Name: password_reset_codes password_reset_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.password_reset_codes
    ADD CONSTRAINT password_reset_codes_pkey PRIMARY KEY (email);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_token_key UNIQUE (token);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: transaction_assignments transaction_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_assignments
    ADD CONSTRAINT transaction_assignments_pkey PRIMARY KEY (id);


--
-- Name: transaction_assignments transaction_assignments_transaction_id_assigned_to_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_assignments
    ADD CONSTRAINT transaction_assignments_transaction_id_assigned_to_user_id_key UNIQUE (transaction_id, assigned_to_user_id);


--
-- Name: transaction_buyers transaction_buyers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_buyers
    ADD CONSTRAINT transaction_buyers_pkey PRIMARY KEY (id);


--
-- Name: transaction_buyers transaction_buyers_transaction_id_customer_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_buyers
    ADD CONSTRAINT transaction_buyers_transaction_id_customer_id_key UNIQUE (transaction_id, customer_id);


--
-- Name: transaction_sellers transaction_sellers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_sellers
    ADD CONSTRAINT transaction_sellers_pkey PRIMARY KEY (id);


--
-- Name: transaction_sellers transaction_sellers_transaction_id_customer_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_sellers
    ADD CONSTRAINT transaction_sellers_transaction_id_customer_id_key UNIQUE (transaction_id, customer_id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_agents_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_agents_is_active ON public.agents USING btree (is_active);


--
-- Name: idx_agents_portal_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX idx_agents_portal_email ON public.agents USING btree (portal_email) WHERE (portal_email IS NOT NULL);


--
-- Name: idx_attorneys_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_attorneys_is_active ON public.attorneys USING btree (is_active);


--
-- Name: idx_customers_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_customers_is_active ON public.customers USING btree (is_active);


--
-- Name: idx_customers_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_customers_user_id ON public.customers USING btree (user_id);


--
-- Name: idx_documents_document_type_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_documents_document_type_id ON public.documents USING btree (document_type_id);


--
-- Name: idx_documents_task_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_documents_task_id ON public.documents USING btree (task_id);


--
-- Name: idx_documents_transaction_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_documents_transaction_id ON public.documents USING btree (transaction_id);


--
-- Name: idx_documents_uploaded_by; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_documents_uploaded_by ON public.documents USING btree (uploaded_by);


--
-- Name: idx_entity_contacts_entity; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_entity_contacts_entity ON public.entity_contacts USING btree (entity_type, entity_id);


--
-- Name: idx_entity_contacts_primary; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_entity_contacts_primary ON public.entity_contacts USING btree (entity_type, entity_id, is_primary) WHERE (is_primary = true);


--
-- Name: idx_follow_up_events_assigned_to; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_follow_up_events_assigned_to ON public.follow_up_events USING btree (assigned_to);


--
-- Name: idx_follow_up_events_due_date; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_follow_up_events_due_date ON public.follow_up_events USING btree (due_date);


--
-- Name: idx_follow_up_events_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_follow_up_events_status ON public.follow_up_events USING btree (status);


--
-- Name: idx_general_tasks_assigned_to; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_general_tasks_assigned_to ON public.general_tasks USING btree (assigned_to);


--
-- Name: idx_general_tasks_created_by; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_general_tasks_created_by ON public.general_tasks USING btree (created_by);


--
-- Name: idx_general_tasks_due_date; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_general_tasks_due_date ON public.general_tasks USING btree (due_date);


--
-- Name: idx_general_tasks_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_general_tasks_status ON public.general_tasks USING btree (status);


--
-- Name: idx_google_drive_credentials_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_google_drive_credentials_user_id ON public.google_drive_credentials USING btree (user_id);


--
-- Name: idx_google_drive_credentials_user_id_unique; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX idx_google_drive_credentials_user_id_unique ON public.google_drive_credentials USING btree (user_id);


--
-- Name: idx_inspection_request_history_request; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_inspection_request_history_request ON public.inspection_request_history USING btree (inspection_request_id);


--
-- Name: idx_inspection_requests_followup; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_inspection_requests_followup ON public.inspection_requests USING btree (follow_up_event_id);


--
-- Name: idx_inspection_requests_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_inspection_requests_status ON public.inspection_requests USING btree (status);


--
-- Name: idx_inspection_requests_transaction; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_inspection_requests_transaction ON public.inspection_requests USING btree (transaction_id);


--
-- Name: idx_inspector_specialties_inspector; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_inspector_specialties_inspector ON public.inspector_specialties USING btree (inspector_id);


--
-- Name: idx_inspector_specialties_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_inspector_specialties_type ON public.inspector_specialties USING btree (inspection_type_id);


--
-- Name: idx_lenders_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_lenders_is_active ON public.lenders USING btree (is_active);


--
-- Name: idx_notifications_created_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_notifications_created_at ON public.notifications USING btree (created_at DESC);


--
-- Name: idx_notifications_customer_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_notifications_customer_id ON public.notifications USING btree (customer_id);


--
-- Name: idx_notifications_customer_unread; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_notifications_customer_unread ON public.notifications USING btree (customer_id, is_read) WHERE (is_read = false);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_other_entities_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_other_entities_type ON public.other_entities USING btree (entity_type);


--
-- Name: idx_password_reset_codes_expires_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_password_reset_codes_expires_at ON public.password_reset_codes USING btree (expires_at);


--
-- Name: idx_password_reset_tokens_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_password_reset_tokens_email ON public.password_reset_tokens USING btree (email);


--
-- Name: idx_password_reset_tokens_token; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_password_reset_tokens_token ON public.password_reset_tokens USING btree (token);


--
-- Name: idx_transaction_assignments_assigned_by; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transaction_assignments_assigned_by ON public.transaction_assignments USING btree (assigned_by_user_id);


--
-- Name: idx_transaction_assignments_assigned_to; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transaction_assignments_assigned_to ON public.transaction_assignments USING btree (assigned_to_user_id);


--
-- Name: idx_transaction_assignments_transaction_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transaction_assignments_transaction_id ON public.transaction_assignments USING btree (transaction_id);


--
-- Name: idx_transaction_buyers_customer; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transaction_buyers_customer ON public.transaction_buyers USING btree (customer_id);


--
-- Name: idx_transaction_buyers_transaction; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transaction_buyers_transaction ON public.transaction_buyers USING btree (transaction_id);


--
-- Name: idx_transaction_sellers_customer; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transaction_sellers_customer ON public.transaction_sellers USING btree (customer_id);


--
-- Name: idx_transaction_sellers_transaction; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transaction_sellers_transaction ON public.transaction_sellers USING btree (transaction_id);


--
-- Name: idx_transactions_closing_date; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transactions_closing_date ON public.transactions USING btree (closing_date);


--
-- Name: idx_transactions_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transactions_is_active ON public.transactions USING btree (is_active);


--
-- Name: idx_transactions_priority; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transactions_priority ON public.transactions USING btree (priority);


--
-- Name: idx_transactions_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_transactions_status ON public.transactions USING btree (status);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_role_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_role_id ON public.users USING btree (role_id);


--
-- Name: transactions create_follow_up_events_trigger; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER create_follow_up_events_trigger AFTER INSERT ON public.transactions FOR EACH ROW EXECUTE FUNCTION public.create_follow_up_events_from_templates();


--
-- Name: general_tasks trigger_update_general_tasks_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_update_general_tasks_updated_at BEFORE UPDATE ON public.general_tasks FOR EACH ROW EXECUTE FUNCTION public.update_general_tasks_updated_at();


--
-- Name: agents update_agents_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_agents_updated_at BEFORE UPDATE ON public.agents FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: attorneys update_attorneys_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_attorneys_updated_at BEFORE UPDATE ON public.attorneys FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: customers update_customers_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_customers_updated_at BEFORE UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: document_types update_document_types_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_document_types_updated_at BEFORE UPDATE ON public.document_types FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: documents update_documents_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_documents_updated_at BEFORE UPDATE ON public.documents FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: follow_up_events update_follow_up_events_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_follow_up_events_updated_at BEFORE UPDATE ON public.follow_up_events FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: google_drive_credentials update_google_drive_credentials_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_google_drive_credentials_updated_at BEFORE UPDATE ON public.google_drive_credentials FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: lenders update_lenders_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_lenders_updated_at BEFORE UPDATE ON public.lenders FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: properties update_properties_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_properties_updated_at BEFORE UPDATE ON public.properties FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: roles update_roles_updated_at_trigger; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_roles_updated_at_trigger BEFORE UPDATE ON public.roles FOR EACH ROW EXECUTE FUNCTION public.update_roles_updated_at();


--
-- Name: transactions update_transactions_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_transactions_updated_at BEFORE UPDATE ON public.transactions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: agents agents_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: customers customers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: documents documents_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.follow_up_events(id) ON DELETE CASCADE;


--
-- Name: documents documents_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: documents documents_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- Name: follow_up_event_templates follow_up_event_templates_default_inspection_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.follow_up_event_templates
    ADD CONSTRAINT follow_up_event_templates_default_inspection_type_id_fkey FOREIGN KEY (default_inspection_type_id) REFERENCES public.inspection_types(id) ON DELETE SET NULL;


--
-- Name: follow_up_events follow_up_events_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.follow_up_events
    ADD CONSTRAINT follow_up_events_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id);


--
-- Name: follow_up_events follow_up_events_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.follow_up_events
    ADD CONSTRAINT follow_up_events_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.follow_up_event_templates(id);


--
-- Name: follow_up_events follow_up_events_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.follow_up_events
    ADD CONSTRAINT follow_up_events_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: general_tasks general_tasks_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.general_tasks
    ADD CONSTRAINT general_tasks_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: general_tasks general_tasks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.general_tasks
    ADD CONSTRAINT general_tasks_user_id_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: inspection_email_templates inspection_email_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_email_templates
    ADD CONSTRAINT inspection_email_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: inspection_email_templates inspection_email_templates_inspection_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_email_templates
    ADD CONSTRAINT inspection_email_templates_inspection_type_id_fkey FOREIGN KEY (inspection_type_id) REFERENCES public.inspection_types(id) ON DELETE SET NULL;


--
-- Name: inspection_request_history inspection_request_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_request_history
    ADD CONSTRAINT inspection_request_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: inspection_request_history inspection_request_history_inspection_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_request_history
    ADD CONSTRAINT inspection_request_history_inspection_request_id_fkey FOREIGN KEY (inspection_request_id) REFERENCES public.inspection_requests(id) ON DELETE CASCADE;


--
-- Name: inspection_requests inspection_requests_email_sent_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_requests
    ADD CONSTRAINT inspection_requests_email_sent_by_fkey FOREIGN KEY (email_sent_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: inspection_requests inspection_requests_follow_up_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_requests
    ADD CONSTRAINT inspection_requests_follow_up_event_id_fkey FOREIGN KEY (follow_up_event_id) REFERENCES public.follow_up_events(id) ON DELETE CASCADE;


--
-- Name: inspection_requests inspection_requests_inspection_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_requests
    ADD CONSTRAINT inspection_requests_inspection_type_id_fkey FOREIGN KEY (inspection_type_id) REFERENCES public.inspection_types(id) ON DELETE RESTRICT;


--
-- Name: inspection_requests inspection_requests_inspector_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_requests
    ADD CONSTRAINT inspection_requests_inspector_id_fkey FOREIGN KEY (inspector_id) REFERENCES public.inspectors(id) ON DELETE RESTRICT;


--
-- Name: inspection_requests inspection_requests_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspection_requests
    ADD CONSTRAINT inspection_requests_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: inspector_specialties inspector_specialties_inspection_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspector_specialties
    ADD CONSTRAINT inspector_specialties_inspection_type_id_fkey FOREIGN KEY (inspection_type_id) REFERENCES public.inspection_types(id) ON DELETE CASCADE;


--
-- Name: inspector_specialties inspector_specialties_inspector_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.inspector_specialties
    ADD CONSTRAINT inspector_specialties_inspector_id_fkey FOREIGN KEY (inspector_id) REFERENCES public.inspectors(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.follow_up_events(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: transaction_assignments transaction_assignments_assigned_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_assignments
    ADD CONSTRAINT transaction_assignments_assigned_by_user_id_fkey FOREIGN KEY (assigned_by_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: transaction_assignments transaction_assignments_assigned_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_assignments
    ADD CONSTRAINT transaction_assignments_assigned_to_user_id_fkey FOREIGN KEY (assigned_to_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: transaction_assignments transaction_assignments_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_assignments
    ADD CONSTRAINT transaction_assignments_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: transaction_buyers transaction_buyers_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_buyers
    ADD CONSTRAINT transaction_buyers_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: transaction_buyers transaction_buyers_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_buyers
    ADD CONSTRAINT transaction_buyers_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: transaction_sellers transaction_sellers_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_sellers
    ADD CONSTRAINT transaction_sellers_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: transaction_sellers transaction_sellers_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transaction_sellers
    ADD CONSTRAINT transaction_sellers_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_attorney_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_attorney_id_fkey FOREIGN KEY (attorney_id) REFERENCES public.attorneys(id);


--
-- Name: transactions transactions_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.customers(id);


--
-- Name: transactions transactions_co_listing_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_co_listing_agent_id_fkey FOREIGN KEY (co_listing_agent_id) REFERENCES public.agents(id);


--
-- Name: transactions transactions_co_selling_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_co_selling_agent_id_fkey FOREIGN KEY (co_buyer_agent_id) REFERENCES public.agents(id);


--
-- Name: transactions transactions_lender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_lender_id_fkey FOREIGN KEY (lender_id) REFERENCES public.lenders(id);


--
-- Name: transactions transactions_listing_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_listing_agent_id_fkey FOREIGN KEY (listing_agent_id) REFERENCES public.agents(id);


--
-- Name: transactions transactions_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: transactions transactions_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.customers(id);


--
-- Name: transactions transactions_selling_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_selling_agent_id_fkey FOREIGN KEY (buyer_agent_id) REFERENCES public.agents(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

